#projects {
  margin-inline: auto;
  max-width: 1040px;
  margin-bottom: 144px;
  

  header {
      align-items: center;
    padding: 150px; /* Ajuste do padding do menu meu trabalho e o ícone*/
      & span {
          font: var(--text-inconsolata-subtitle);
          color: var(--red);
      }

      & h2 {
          font: var(--text-asap-md);
          color: var(--gray-600);
          margin-top: 8px;
      }
  }

  main {
      margin-top: 12px; /*Ajuste do padding do texto do menu da section*/

      grid-auto-flow: row;

      & .card-container {
          background-color: var(--gray-300);
          padding: 16px;
          border-radius: 12px;
          border: 1.5px solid transparent;

          & img {
              border-radius: 8px;
          }

          & small {
              margin-top: 20px;
              font: var(--text-asap-sm);
              color: var(--gray-600);
          }

          & span {
              margin-top: 8px;
              font: var(--text-maven-sm);
            color: var(--gray-400);
          }

          &:hover {
              border: 1.5px solid var(--gray-400);
              cursor: pointer;
          }
      }
  }
}